<div class="font-[sans-serif] text-gray-800 bg-white max-w-4xl flex items-center mx-auto md:h-screen p-4">
  <div class="grid md:grid-cols-3 items-center shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-xl overflow-hidden">
    <div class="max-md:order-1 flex flex-col justify-center space-y-16 max-md:mt-16 min-h-full bg-gradient-to-r from-gray-900 to-gray-700 lg:px-8 px-4 py-4">
      <div>
        <h4 class="text-white text-lg font-semibold">Update Your Account</h4>
        <p class="text-[13px] text-white mt-2">Keep your account information up to date for a better experience.</p>
      </div>
      <div>
        <h4 class="text-white text-lg font-semibold">Secure Account Updates</h4>
        <p class="text-[13px] text-white mt-2">Your security is our priority. Make sure to provide accurate information.</p>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "md:col-span-2 w-full py-6 px-6 sm:px-16" }) do |f| %>
      <div class="mb-6">
        <h3 class="text-2xl font-bold">Edit <%= resource_name.to_s.humanize %></h3>
      </div>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="space-y-5">
        <div>
          <label class="text-sm mb-2 block">Email</label>
          <div class="relative flex items-center">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500", placeholder: "Enter email" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 682.667 682.667">
              <defs>
                <clipPath id="a" clipPathUnits="userSpaceOnUse">
                  <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                </clipPath>
              </defs>
              <g clipPath="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                <path fill="none" strokeMiterlimit="10" strokeWidth="40" d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z" data-original="#000000"></path>
                <path d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z" data-original="#000000"></path>
              </g>
            </svg>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="text-sm text-red-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <label class="text-sm mb-2 block">Password <i>(leave blank if you don't want to change it)</i></label>
          <div class="relative flex items-center">
            <%= f.password_field :password, autocomplete: "new-password", class: "bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500", placeholder: "Enter new password" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4 cursor-pointer" viewBox="0 0 128 128">
              <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" data-original="#000000"></path>
            </svg>
          </div>
          <% if @minimum_password_length %>
            <br />
            <em class="text-xs text-gray-600"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div>
          <label class="text-sm mb-2 block">Confirm Password</label>
          <div class="relative flex items-center">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500", placeholder: "Re-enter new password" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4 cursor-pointer" viewBox="0 0 128 128">
              <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" data-original="#000000"></path>
            </svg>
          </div>
        </div>

        <div>
          <label class="text-sm mb-2 block">Current Password <i>(we need your current password to confirm your changes)</i></label>
          <div class="relative flex items-center">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500", placeholder: "Enter current password" %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4 cursor-pointer" viewBox="0 0 128 128">
              <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" data-original="#000000"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="!mt-10">
        <%= f.submit "Update", class: "w-full py-3 px-4 text-sm font-semibold rounded text-white bg-gray-700 hover:bg-gray-800 focus:outline-none" %>
      </div>
      <p class="text-sm mt-6 text-center">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "text-red-600 font-semibold hover:underline ml-1" %></p>
    <% end %>
  </div>
</div>

<%= link_to "Back", :back, class: "text-blue-600 font-semibold hover:underline mt-4 block text-center" %>
